spring:
  graphql:
    graphiql:
      enabled: true
  docker:
    compose:
      enabled: true
      file: ./docker/docker-compose.yml
  sql:
    init:
      mode: always
      platform: h2
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        generate_statistics: true
        show_sql: true
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: jpa-search-helper-user
    password: jpa-search-helper-password
  h2:
    console:
      enabled: true
      path: /h2
  application:
    name: jpa-search-helper-demo

management:
  observations:
    annotations:
      enabled: true
    key-values:
      application: ${spring.application.name}
      env: local
  opentelemetry:
    tracing:
      export:
        otlp:
          endpoint: "http://localhost:4317"
          compression: gzip
          timeout: 20s
          transport: grpc
  tracing:
    export:
      enabled: true
      otlp:
        enabled: true
    sampling:
      probability: 1
  prometheus:
    metrics:
      export:
        enabled: true
        step: 1m
  metrics:
    dgs-graphql:
      enabled: true
      tag-customizers:
        outcome:
          enabled: true
      data-loader-instrumentation:
        enabled: true
      query:
        enabled: true
      query-signature:
        enabled: true
        caching:
          enabled: true
    distribution:
      percentiles:
        - 0.95
      percentiles-histogram:
        all: true
        http:
          server:
            requests: true
  endpoints:
    access:
      default: none
    jmx:
      exposure:
        exclude: '*'
    web:
      exposure:
        include:
          - health
          - prometheus
          - metrics
  endpoint:
    health:
      access: unrestricted
      logging:
        slow-indicator: 5s
      probes:
        enabled: true
    info:
      access: none
    prometheus:
      access: unrestricted
    metrics:
      access: unrestricted
  health:
    defaults:
      enabled: false
    db:
      enabled: true

logging:
  level:
    org:
      hibernate: DEBUG

dgs:
  graphql:
    virtualthreads:
      enabled: true

server:
  compression:
    enabled: true
    min-response-size: 10KB
  servlet:
    encoding:
      charset: UTF-8
      force-request: true
      force-response: true
  shutdown: graceful